body {
  background-color: #202C36;
}

.site-header {
background-color: #2B3844;
}

.search-form__input-wrapper {
  position: relative;
  z-index: 1;
}

.search-form__search-icon {
  position: absolute;
  z-index: 1;
  left: 32px;
  top: calc(50% - 8px);
}

.search-form__input {
  padding-left: 74px;
  background-color: #2B3844;
}

.search-form__input:focus {
  background-color: #2B3844;
  color: #fff;
}

.search-form__input::placeholder {
  color: #fff;
}

.select-countries {
  color: #fff;
  background-color:#2B3844;
}

.select-countries:focus {
  background-color: #2B3844;
  color: #fff;
}

.countries-card {
  background-color:#2B3844;
}



